/**
 * Styles for the portfolio section.
 * Defines grid layout with media queries for responsiveness. 
 * Includes styles for portfolio items, grid items, images, and cards.
*/
.container {
	--num-cols: 2;
	grid-row: 2;
	/* --row-height: 100px; */
	display: grid;
	margin: 0;
	width: 100%;
	margin: auto auto;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	gap: 10px;
	align-items: start;
}

.about-wrapper {
	margin: 0 auto;
	/* height: 80vh; */
}

.about,
.portfolio,
.contact {
	display: flex;
	flex-direction: row;
}
.anchor-point {
	color: #2ac2e4;
	/* transform: translateY(7rem) translateX(-3rem); */
	font-size: var(--size-fluid-6);
	/* background: transparent; */
}

.contact-content {
	width: 90%;
	margin: 0 auto;
	height: 100vh;
	max-width: 1000px;
}

.form-wrapper {
	max-width: 1000px;
	cursor: none;
}

.form-group {
	padding-block: 1rem;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	font-size: calc(2rem + 0.1vh);
}

form {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

label {
	cursor: none;
	padding-bottom: 1.35rem;
}

input,
#message {
	background-color: #c5c8c86b;
	height: 2rem;
	padding: 0.35rem;
	border-radius: 10px;
	caret-color: #282928;
	font-size: calc(2rem + 0.1vh);
	color: #282928;
	padding: 1.35rem;
	transition: 0.5s;
	cursor: none;
}

input:hover,
input:focus,
#message:hover,
#message:focus {
	border-radius: 10px;
	/* transform: scale(1.02); */
	transition: 0.5s;
	box-shadow: 0px 0px 40px #0ca3dae2;
}

button {
	align-self: flex-end;
	width: 10rem;
	font-size: calc(2rem + 0.1vh);
	padding: 1.35rem;
	border-radius: 10px;
	background-color: #2ac2e4;
	color: #282928;
	cursor: none;
	transition: 0.5s;
}

button:hover,
button:focus {
	transition: 0.5s;
	background-color: #c8eaf1;
	box-shadow: 0px 0px 40px #0ca3dae2;
}

.modal {
	visibility: hidden; /* Hidden by default */
	opacity: 0;
	transition: visibility 0s 0.5s, opacity 0.5s linear; /* Animate visibility after opacity */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* Enable scroll if needed */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fefefe;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.modal-content-error {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #c01616;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	color: white;
}

.close {
	transition: 0.5s;
	opacity: 1;
	color: #aaa;
	float: right;
	font-size: 42px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.spacer {
	height: 20rem;
}
.code-container {
	display: flex;
	flex-direction: column;
	background-color: rgb(56, 55, 55);
	border-radius: 10px;
}

.grid {
	border-radius: 10px;
	padding: var(--gap);
	min-height: 64px;
	min-width: 256px;
}

.grid1 {
	grid-column: 1/1;
	position: relative;
	/* height: px; */
	z-index: 20;
}

.grid1 img {
	margin-left: 4rem;
	/* transform: translateX(-25%); */
	object-fit: cover;
	object-position: cover;
	height: var(--size-fluid-9);
	border-radius: 50%;
	border: 2px solid var(--brand-accent-color);
	outline: 1px solid var(--brand-font-color);
}

.grid2 {
	transform: translateX(-12rem) translateY(-6rem);
	width: 30vw;
	grid-row: 2;
	grid-column: 3/3;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	outline: 4px red;
}

.grid3 {
	grid-column: 3/5;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}

.grid4 {
	border: none;
	grid-row: 3;
	grid-column: 1 / 5;
}

.portfolio-content,
.about-content {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
	width: 90%;
	margin: 0 auto;
	padding: 2rem;
}

.portfolio-item,
.about-item {
	transition: 250ms ease-out;
	display: flex;
	flex-direction: row;
	gap: 10px;
	padding-top: 1.25rem;
	flex-wrap: wrap;
}

#aboutMeWrapper {
	display: inline-block;
	transition: box-shadow 0.5s ease;
}

.portfolio-item a {
	margin: auto auto;
}
.portfolio-item:nth-child(even) {
	flex-direction: row-reverse;
}

.portfolio-item:nth-child(odd) {
	flex-direction: row;
}

.portfolio-item:hover .screenshot,
.portfolio-item:focus .screenshot {
	transition: 0.5s;
	box-shadow: 0 0 40px #0ca3da; /* Adjust color and blur radius as needed */
}

.portfolio-title,
.about-title {
	margin-top: 2rem;
	font-weight: bolder;
	font-size: calc(3rem + 0.2vw);
	color: var(--brand-color-accent);
}
.card {
	flex: 1;
	border-radius: 10px;
	padding-bottom: 4rem;
}

.card-games {
	display: grid;
	padding-right: 5rem;
	padding-top: 2rem;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	max-width: 300px;
}

.card-span {
	display: inline-block;
	font-size: calc(1.25rem + 0.25vw);
	transform: translateY(-2rem);
}

.card > a,
.card-games > a {
	margin: auto auto;
}

.screenshot {
	transition: 0.5s;
	max-width: 380px;
	margin-right: 20px;
	border-radius: 20px;
	border: 1px solid rgba(100, 99, 99, 0.281);
}
.screenshot-game {
	transition: 0.5s;
	max-width: 140px;
	margin: 0.1rem;
	border-radius: 20px;
	border: 1px solid rgba(100, 99, 99, 0.281);
}

.description-wrapper,
.portfolio-title {
	flex: 1;
}

.description-wrapper-games {
	display: flex;
	flex-direction: column;
	width: 90%;
}

@media (max-width: 760) {
	p.profile {
		opacity: 0.25;
	}
}

@media (max-width: 600px) {
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		/* height: 100vh; */
	}

	.portfolio-item {
		flex-direction: column !important;
		margin: 0 auto;
	}

	.grid {
		width: 90%;
		margin: 0 auto;
	}

	.grid img {
		height: 380px;
	}

	.card {
		max-width: 380px;
		max-height: 120px;
		border: 2px solid pink;
		overflow: hidden; /* Prevents the image from overflowing the card */
		display: flex; /* Makes the card a flex container */
		justify-content: center; /* Centers the image horizontally */
		align-items: center; /* Centers the image vertically */
	}

	.card img {
		transform: translateX(8%) translateY(25%) scale(1.2);
	}
	.description-wrapper {
		width: 100%;
	}

	.grid1 {
		display: flex;
		justify-content: center;
		align-items: center;
		transform: translateY(0);
		margin: 0;
	}

	.grid2 {
		height: 20px;
		transform: translateX(0);
		height: 20px;
	}

	.grid3 {
		transform: translateY(0);
		margin: 0 auto;
	}
}

@media (max-width: 460px) {
	.card {
		width: 240px;
	}
}

@media (max-width: 600px) and (max-height: 1060px) {
	.grid1 {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		margin: 0 auto;
	}

	.grid1 img {
		transition: all var(--brand-transition-time);
		margin: 0 auto;
		opacity: 0.25;
	}

	.grid2 {
		margin: 0 auto;
		z-index: 100;
	}
}
