@import "https://unpkg.com/open-props";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@300;500;700;800;900&display=swap");

:root {
	--gap: var(--size-fluid-3);
	--brand-background-color: #fff;
	--brand-color-accent: #28c2e4;
	--brand-color-accent_semi: #28c1e43f;
	--brand-font-color: #282928;
	--brand-border-color: #28292859;
	--brand-background-color-secondary: #e9e9e9;
	--brand-font-main: "Raleway", sans-serif;
	--brand-font-accent: "Oswald", sans-serif;
	--brand-font-size-normal: var(--font-size-fluid-2);
	--brand-transition-time: 150ms;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: var(--brand-font-accent), sans-serif;
	background-color: var(--brand-background-color);
	color: var(--brand-font-color);
	box-sizing: border-box;
	overflow-x: hidden;
}

header {
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	background-color: var(--brand-background-color);
	color: var(--brand-font-color);
	z-index: 9999;
	font-family: var(--brand-font-main);
	font-weight: 800;
	font-size: var(--size-fluid-3);
	opacity: 0.98;
	overflow-y: hidden;
}

.logo {
	max-width: 100%;
}

@media (max-width: 600px) {
	header {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.spacer {
	transform: rotate(3deg) translateX(-10%);
	bottom: var(--gap);
	width: 110%;
	/* margin: 0 var(--gap); */
	padding: var(--gap);
	bottom: 0;
	background-color: var(--brand-color-accent);
	border-top: 1px solid rgba(0, 0, 0, 0.295);
	z-index: 1;
}

.bold {
	font-family: var(--brand-font-accent);
	font-weight: 800;
	font-size: var(--font-size-fluid-3);
	color: var(--brand-color-accent);
}

.turned {
	border: 1px dashed var(--brand-color-accent-semi);
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	transition: transform var(--brand-transition-time) ease-in-out;
}

h1 {
	font-size: var(--size-fluid-5);
	padding: 0;
	margin: 0;
}

h2 {
	font-size: var(--size-fluid-3);
	padding: 0;
	margin: 0;
}

h3 {
	font-size: var(--size-fluid-2);
	padding: 0;
	margin: 0;
}

p {
	font-size: var(--size-fluid-4);
}

footer {
	position: fixed;
	opacity: 0.92;
	backdrop-filter: blur(20px);
	bottom: 0;
	width: 100%;
	/* margin: 0 var(--gap); */
	padding-bottom: var(--gap);
	background-color: var(--brand-color-accent);
	border-top: 1px solid rgba(0, 0, 0, 0.295);
	z-index: 1;
}

header,
footer {
	transition: top 0.5s ease, bottom 0.25s ease;
}
