/**
 * CSS stylesheet that defines branding variables, resets default styles, 
 * sets up scroll snap, and provides base styles for common elements.
 * 
 * Defines custom properties for colors, fonts, sizes, etc. Sets up smooth 
 * scrolling and scroll snap. Styles header, footer, sections, text elements. 
 * Includes breakpoints for responsive design. Imports fonts and normalize.css.
 */
@import "https://unpkg.com/open-props";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@300;500;700;800;900&display=swap");

:root {
	--gap: var(--size-fluid-3);
	--brand-background-color: #fff;
	--brand-color-accent: #28c2e4;
	--brand-color-accent-semi: #28c1e43f;
	--brand-font-color: #282928;
	--brand-border-color: #28292859;
	--brand-background-color-secondary: #e9e9e9;
	--brand-font-main: "Raleway", sans-serif;
	--brand-font-accent: "Oswald", sans-serif;
	--brand-font-size-normal: var(--font-size-fluid-2);
	--brand-transition-time: 150ms;
}
html {
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
i.fa-linkedin {
	padding-inline: 1rem;
}
i,
i:hover,
i:focus {
	transition: 0.2s;
	transform: scale(1.2);
	opacity: 1;
}
.name:hover,
.name:focus {
	transition: 0.2s;
	transform: scale(1.05);
	opacity: 1;
}

.fade-in {
	opacity: 0;
	transition: opacity 1.5s;
}

.fade-in.visible {
	opacity: 1;
}

body {
	scroll-behavior: smooth;
	/* scroll-snap-type: y mandatory; */
	overflow-y: scroll;
	overflow-x: hidden;
	scroll-padding-top: 1rem;

	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: var(--brand-font-accent), sans-serif;
	background-color: var(--brand-background-color);
	color: var(--brand-font-color);
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: var(--brand-font-color);
	cursor: none;
}

a:hover,
a:focus {
	color: var(--brand-font-accent);
}

header,
footer {
	padding: 1.6rem;
	display: flex;
	justify-content: space-between;
	background-color: var(--brand-background-color);
	color: var(--brand-font-color);
	z-index: 9999;
	font-family: var(--brand-font-main);
	font-weight: 800;
	font-size: var(--size-fluid-4);
	opacity: 0.98;
	overflow: hidden;
}

.hero,
.section1 {
	scroll-snap-align: start;
	height: 100vh;
}

.hero,
.section1 {
	background-color: #fff;
	width: 60vw;
	height: 100vh;
}

.section2 {
	/* transform: rotate(1deg) translateX(-2%) translateY(2.25rem); */
	/* width: 150%; */

	/* background-color: #fcfcfc; */
	max-width: 1000px;
	margin: 0 auto;
	width: 90%;
}

code > .language-javascript {
	font-size: calc(1.5rem - 0.2vw);
}

.section-about {
	/* padding: 4rem; */
	margin: 0 auto;
	max-width: 1000px;
}

.logo {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

@media (max-width: 600px) {
	header {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
}

.bold {
	font-family: var(--brand-font-accent);
	font-weight: 800;
	font-size: var(--font-size-fluid-3);
	color: var(--brand-color-accent);
}

.blue {
	color: var(--brand-color-accent);
}

.turned {
	/* border: 1px dashed var(--brand-color-accent-semi); */
	padding-top: 20px;
	padding-bottom: 20px;
	display: inline-block;
	transition: transform var(--brand-transition-time) ease-in-out;
}

h1 {
	font-size: var(--size-fluid-6);
	padding: 0;
	margin: 0;
	padding-bottom: 4rem;
	font-weight: var(--font-weight-9);
}

h2 {
	font-size: var(--size-fluid-4);
	padding: 0;
	margin: 0;
}

h3 {
	font-size: var(--size-fluid-3);
	padding: 0;
	margin: 0;
}

p {
	font-size: var(--font-size-fluid-2);
	font-size: calc(2rem + 0.1vw);
}

footer {
	position: fixed;
	padding: 10px;
	padding-inline: 1rem;
	opacity: 0.92;
	backdrop-filter: blur(20px);
	bottom: 0;
	width: 100vw;
	/* margin: 0 auto; */
	background-color: var(--brand-color-accent);
	border-top: 1px solid rgba(0, 0, 0, 0.295);
	z-index: 1;
}

footer a:hover {
	color: var(--brand-font-color);
}

header,
footer {
	transition: top 0.85s ease, bottom 0.25s ease;
}

@media (max-width: 600px) {
	h1 {
		font-size: var(--size-fluid-5);
	}
	hero {
		justify-content: space-around;
		height: 60%;
	}
	header,
	footer {
		font-size: var(--size-fluid-3);
		flex-direction: column;
	}
}
