ul {
	gap: var(--size-fluid-2);
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	transition: 150ms;
}

li:hover {
	color: var(--brand-color-accent);
}

.menu {
	display: flex;
	flex: 0 0 auto;
	justify-content: flex-end;
	gap: 10px;
	padding-right: var(--gap);
	margin-right: var(--gap);
}

.contact {
	color: var(--brand-color-accent);
}

/* contact */

/* end contact */

/* about */

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(12deg);
	}
}
.menu-link {
	position: relative;
}

.menu-link:hover {
	padding-inline: 4px;
	transition: var(--brand-transition-time);
	outline: 1px solid pink;
}

.menu-link .cross {
	transition: var(--brand-transition-time);
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1.25);
	width: 100%;
	height: 10px;
	opacity: 0;
}

.menu-link:hover .cross:first-child {
	transition: var(--brand-transition-time);
	opacity: 1;
	left: 0;
	width: 10px;
	height: 10px;
	transform: scale(1);
}

.menu-link .cross:first-child {
	transition: var(--brand-transition-time);
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1.55);
	width: 100%;
	height: 0px;
	opacity: 0;
}

.menu-link .cross:last-child {
	transition: var(--brand-transition-time);
	position: absolute;
	top: 100%;
	left: 0;
	transform: scale(1.55) rotate(180deg);
	width: 100%;
	height: 0px;
	opacity: 0;
}

.menu-link:hover .cross:last-child {
	transition: var(--brand-transition-time);
	opacity: 1;
	width: 100%;
	height: 0px;
	top: 100%;
	left: 0;
	transform: scale(1) rotate(180deg);
}

.vertical {
	position: absolute;
	top: 0;
	width: 2px;
	height: 10px;
	background: black;
}

.horizontal {
	position: absolute;
	top: 0;
	width: 10px;
	height: 2px;
	background: black;
}

@keyframes pop {
	0% {
		transform: scale(1);
	}
	5% {
		transform: scale(1.1, 1);
	}
	6% {
		transform: scale(1.3, 1);
	}
	6% {
		transform: scale(1.4, 1);
	}
	66% {
		transform: scale(1.4, 1.2);
	}
	100% {
		transform: scale(1.4);
	}
}
